<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acgm.acgmmediatracker.mapper.ProgressMusicMapper">

    <resultMap id="ProgressMusicResultMap" type="com.acgm.acgmmediatracker.entity.ProgressMusic">
        <id property="mediaId" column="media_id" />
        <result property="playCount" column="play_count" />
        <result property="listenStatus" column="listen_status" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="ProgressMusic_Columns">
        media_id,
        play_count,
        listen_status,
        updated_at
    </sql>

    <select id="selectByMediaId" resultMap="ProgressMusicResultMap">
        SELECT <include refid="ProgressMusic_Columns" />
        FROM progress_music
        WHERE media_id = #{mediaId}
    </select>

    <select id="selectAll" resultMap="ProgressMusicResultMap">
        SELECT <include refid="ProgressMusic_Columns" />
        FROM progress_music
    </select>

    <insert id="insert" parameterType="com.acgm.acgmmediatracker.entity.ProgressMusic">
        INSERT INTO progress_music (
            media_id,
            play_count,
            listen_status,
            updated_at
        ) VALUES (
            #{mediaId},
            #{playCount},
            #{listenStatus},
            #{updatedAt}
        )
    </insert>

    <update id="update" parameterType="com.acgm.acgmmediatracker.entity.ProgressMusic">
        UPDATE progress_music
        SET
            play_count = #{playCount},
            listen_status = #{listenStatus},
            updated_at = #{updatedAt}
        WHERE media_id = #{mediaId}
    </update>

    <delete id="delete">
        DELETE FROM progress_music
        WHERE media_id = #{mediaId}
    </delete>

</mapper>
